<div class="row mt-5">
  <div class="offset-2 col-8 ">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark  text-center">
        <tr>
          <th >first name</th>
          <th >last name</th>
          <th >modif</th>
          <th >remove</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users, let i= index ">
      <td >{{user.first_name }}</td>
      <td >{{user.last_name }}</td>
      <td ><button (click)="update(i)" class="btn btn-outline-primary bg-white" >Update</button></td>
      <td ><button (click)="remove(i)" class="btn btn-outline-primary bg-white" >remove</button></td>
      </tr>
  </tbody>
  </table>
  </div>
</div>