
<div class="row mt-5 " >
    
    <div class="offset-md-3 col-6 col-md-5 bg-secondary">
        <form class="mt-5 mb-5" [formGroup]="taskForm" (ngSubmit)="submitTask()">
            <div class="form-group">
                <input class="form-control" formControlName="title" name="titre" type="text" placeholder="Titre">
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="description" id="description" rows="3" placeholder="Description"></textarea>
              </div>
            <div>
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </div>   
            <div>
                <a routerLink="/tasks" class="btn btn-danger btn-block  mt-2" >Retour</a>
            </div> 
        </form>
    </div>  
    </div>
