<nav class="navbar navbar-light bg-light  bg-dark">
  <a class="navbar-brand">MY APPLICATION </a>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/dashboard">Dashboard </a>
      </li>
  </ul>

  <form class="form-inline my-2 my-lg-0">
    <button class="nav-link mr-2 bg-danger text-white"  *ngIf="(isLoggedIn | async)"  (click)="logOutBar()"  routerLink="/login">Sign out</button>
    <a class="nav-link mr-2 bg-danger text-white" routerLink="/login" *ngIf="!(isLoggedIn | async)" (click)="AuthServices.login()">Sign in</a>
    <a class="nav-link  bg-danger text-white" routerLink="/register" *ngIf="!(isLoggedIn | async)" (click)="AuthServices.login()">Sign up</a>

  </form>
</nav>