<div class="row mt-5">
    <div class="offset-md-5  col-md-5 ">
        <a routerLink="/tasks/add" class="btn btn-success"  style="width: 200px;">Ajouter</a>
    </div>
    <div class="offset-2 col-8 mt-2">
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let control of taskTabTitre.controls; index as i" >
                    <td>
                        <span>{{ i }}</span>
                    </td>
                    <td>
                        <input [formControl]="taskTabTitre.controls[i]" disabled />
                    </td>
                    <td>
                        <input [formControl]="taskTabDesc.controls[i]" disabled />
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info mr-3">Delete</button>
                        <a class="btn btn-danger" [routerLink]="['/tasks/update',{'index': i}]">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

